{% extends "layout.html"%}
{% block content %}

    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" >
    <h1 class="space">More about me</h1>
    </div>
    
    <div class = "col-lg-offset-1 col-lg-8 col-md-8 col-sm-8 col-xs-8" >
        <p class = "p1" id="aq">Also, I learned quite a few new skills through online courses like HTML, bootstrap, JavaScript, Selenium Webdriver automation with Java, to a moderate level, and Master’s courses like Natural language processing course (in Python), and some UI design courses, but the one I am interested in the most is REST APIs with Flask and Python which we have in a programmable web project course this semester and I am now in the process of building small web pages with it. I will try to learn Node.js and React in the next few months, as I wish to widen my skills in web development in front-end as well as back-end.
I think I am a quick learner, and I have high attention to details, one of my hobbies is to find mistakes in any website or layout, whether it is a language mistake or a logic mistake in redirecting of links in a website, and errors overall.
I should finish 90/120 ECTS of my Master’s degree in May 2020 (in only 2-semesters time!), which will leave me with only 1 compulsory course + Master’s thesis, and according to this I should graduate with more than the required 120 ECTS, I took so many courses so that I am free also next year (after summer) to work full time and hopefully continue working for the same company. My GPA for the published 45 ECTS is 4.58/5.
I wish to apply for the software summer software position (or similar) in Oulu office, then hopefully continue as a developer in your company, as I am really motivated to learn new skills.

        </p>
    </div>  

    <div class = "space col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-5" >
        <img src="{{url_for('static', filename='1.jpg')}}" class = "photo-2">
    </div>  

    <div class = "space col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-5" >
        <img src="{{url_for('static', filename='2.jpg')}}" class = "photo-2">
    </div>  

    <div class = "space col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-5" >
        <img src="{{url_for('static', filename='3.jpg')}}" class = "photo-2">
    </div>  

    <div class = "space col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-5" >
        <img src="{{url_for('static', filename='4.jpg')}}" class = "photo-2">
    </div>  

    <div class = "space col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-5" >
        <img src="{{url_for('static', filename='5.jpg')}}" class = "photo-2">
    </div>  

    <div class = "space col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-5" >
        <img src="{{url_for('static', filename='6.jpg')}}" class = "photo-2">
    </div>  

    <div class = "space col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-5" >
        <img src="{{url_for('static', filename='7.jpg')}}" class = "photo-2">
    </div>  

    <div class = "space col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-5 col-md-5 col-sm-5 col-xs-5" >
        <img src="{{url_for('static', filename='8.jpg')}}" class = "photo-2">
    </div>  
    
    
{% endblock content %}