<div class = "row">
        <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h1>Column 1</h1> <!--normal header and text-->
            Tamer Hosny was born in Cairo to an Egyptian father and Syrian mother. Unlike his father, Hosny Sherif Abbas, Tamer Hosny grew up with an interest in football and played the sport for five years.[4] Tamer Hosny had his first directorial experience in 2010 when directing his music video "Sa7eet 3la Sotha"
        </div>
        <div class = "clearfix visible sm"></div> <!--this fixes the problem of unequal paragraphs and should be put in its needed location-->
        <div class = "col-lg-offset-4 col-lg-2 col-md-2 col-sm-8 col-xs-12"> <!--offset-4 means leave 4 spaces in lg mode then make it take space of 2-->
            <h1><a href = "#col2Content" data-toggle ="collapse"> Column 2</a></h1> <!--toggling header and text (not shown at first)-->
            <div id = "col2Content" class ="collapse">
            Tamer Hosny was born in Cairo to an Egyptian father and Syrian mother. Unlike his father, Hosny Sherif Abbas, Tamer Hosny grew up with an interest in football and played the sport for five years.[4] Tamer Hosny had his first directorial experience in 2010 when directing his music video "Sa7eet 3la Sotha"
            </div>
        </div>
        <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h1> <a href = "#col3Content" data-toggle ="collapse"> Column 3</a></h1> <!--toggling header and text (shown at first)-->
            <div id = "col3Content" class ="collapse in" >
            Tamer Hosny was born in Cairo to an Egyptian father and Syrian mother. Unlike his father, Hosny Sherif Abbas, Tamer Hosny grew up with an interest in football and played the sport for five years.[4] Tamer Hosny had his first directorial experience in 2010 when directing his music video "Sa7eet 3la Sotha"
            </div>
        </div>
    </div>



<div class="container">
        <div class="page-header">
            <h1>Hello</h1>
        </div>
        <div class="jumbotron"> <!--this class make grey (color could be changed) background for text-->
            <p>This is a text</p>                
            <div
                <!-- BUTTONS -->
                <!-- There are many built in button colors and sizes. If a link is to trigger in page functionality it should use role="button". The button element should be used in most situations -->
                <a href="#" class = "btn btn-default btn-lg" role="button">More info</a>
                <button type="submit" class = "btn btn-danger" role = "button">Button</button>
                <input type="button" value="Info" class = "btn btn-info">
                <button type="submit" class = "btn-primary btn-sm">Primary</button>
                <button type="submit" class = "btn btn-success btn-xs">Success</button>
                <button type="submit" class = "btn btn-warning btn-lg">Warning</button>
                <button type="submit" class = "btn btn-link btn-lg">Link</button>
 
                <!-- You can disable buttons with disabled -->
                <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary</button>
 
                <!-- You disable links in a similar way -->
                <a href="#" class="btn btn-default btn-lg disabled" role="button">Link</a>
            </div>
            <div class ="space"> <!-- Inserting a class called space which we described upwards to make w vertical gap -->
            </div>
        
        
            <!-- You can group buttons. You can size the buttons with btn-group-lg, btn-group-sm, or btn-group-xs -->
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn btn-default">Small</button>
            <button type="button" class="btn btn-default">Medium</button>
            <button type="button" class="btn btn-default">Large</button>
            </div>
            <img src="as.jpg">
            <span class = "glyphicon glyphicon-film"></span> <!--saved icons in bootstrap-->
        
        
            <span id = "photo1_span"> This is our photo ya gama3a </span>
            <p id = "photo1_comment"> This is our photo ya gama3a </p>
        </div>
    
    </div>
    